<md-dialog aria-label="Sucesso" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="vm.handleCancel(); $event.stopPropagation();">
                        <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
               Aparecer modal com sucesso
            </div>
        </md-dialog-content>
        <md-dialog-actions>
                <a class="md-button md-primary"  href="http://www.uol.com.br" >
                    Confirm
                </a>
        </md-dialog-actions>
    </form>
</md-dialog>